spring:
  application:
    name: backend

  profiles:
    active: dev

  jpa:
    open-in-view: false
    properties:
      hibernate:
        multiTenancy: SCHEMA
        default_schema: public
    hibernate:
      ddl-auto: validate

  flyway:
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
    driver-class-name: ${spring.datasource.driver-class-name}

  security:
    remember-me:
      key: ${REMEMBER_ME_KEY}
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
        provider:
          google:

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    username: postgres
    password: qwas1324
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres

  web:
    error:
      include-message: always
      include-exception: true
      include-stacktrace: always

frontend:
  url: localhost:5432

---
spring:
  config:
    activate:
      on-profile: prod

  web:
    error:
      include-message: always
      include-exception: true
      include-stacktrace: never

  datasource:
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    url: jdbc:postgresql://database:5432/${POSTGRES_DB}
    driver-class-name: org.postgresql.Driver

frontend:
  url: ${FRONTEND_URL}