spring:
  application:
    name: backend

  profiles:
    active: dev

  jpa:
    open-in-view: false
    properties:
      hibernate:
        multiTenancy: SCHEMA
        default_schema: public
    hibernate:
      ddl-auto: validate

  datasource:
    hikari:
      minimum-idle: 2
      idle-timeout: 30_000
      maximum-pool-size: 10
      connection-timeout: 30_000
      pool-name: BackendHikariCP

  mvc:
    format:
      date: dd/MM/yyyy
      date-time: yyyy-MM-dd HH:mm:ss
      time: HH:mm:ss

  web:
    error:
      include-message: always
      include-exception: true

  security:
    remember-me:
      key: 1111_1111_1111_1111

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    username: postgres
    password: qwas1324
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres

  flyway:
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
    driver-class-name: ${spring.datasource.driver-class-name}

---
spring:
  config:
    activate:
      on-profile: prod
